@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply bg-gradient-to-br from-slate-50 to-blue-50;
  }
}

@layer components {
  .glass-effect {
    @apply backdrop-blur-xl bg-white/80 border border-white/30 shadow-2xl;
  }
}
